<div class="col-md-8 col-sm-6 col-xs-8">
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        @if (!string.IsNullOrEmpty(Model.Order.UserId))
        {
            <li><a asp-action="Profile" asp-controller="Account" asp-route-userId="@Model.Order.UserId">Profile</a></li>
        }
        else
        {
            <li><a asp-action="Profile" asp-controller="Account">Profile</a></li>
        }
        <li class="active">Archive</li>
    </ol>
</div>
<div class="col-md-4 bg-secondary">
    <form method="POST">
        <fieldset class="filter-sidebar border p-2">
            <legend class="auto-w">Filter Options</legend>
            <div class="form-group">
                <label>Sort</label>
                <select class="form-control">
                    <option>-- SELECT SORT ORDER --</option>
                    <option>Price asc</option>
                    <option>Price desc</option>
                    <option>Date asc</option>
                    <option>Date desc</option>
                </select>
            </div>
            <fieldset class="form-group">
                <legend>Select date to filter</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label>From</label>
                        <input type="date" asp-for="Order.MinDate" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>To</label>
                        <input type="date" asp-for="Order.MaxDate" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend>Select price to filter</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label>From</label>
                        <input type="number" asp-for="Order.MinPrice" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>To</label>
                        <input type="number" asp-for="Order.MaxPrice" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <label>Zip code</label>
                <input class="form-control" asp-for="Order.ZipCode"/>
            </div>
            <hr>
            <input type="submit" class="btn btn-primary"  value="Find Now"/>
            <button type="button" class="btn btn-primary">Reset All</button>
        </fieldset>
    </form>
</div>
